{
  "presets": [
    "react",
    ["env", {
      "modules": "commonjs",
      "targets": {
        "chrome": 48,
        "ie": 9,
        "browsers": [
          "> 1%",
          "last 5 versions"
        ]
      }
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "syntax-async-functions",
    ["transform-runtime", {
      "helpers": true,
      "polyfill": true,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["env"],
        "react"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        ["transform-runtime", {
          "helpers": true,
          "polyfill": true,
          "regenerator": true,
          "moduleName": "babel-runtime"
        }]
      ]
    }
  }
}
